body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1053px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-526.5px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u2 {
  position:absolute;
  left:2px;
  top:342px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u4 {
  position:absolute;
  left:2px;
  top:342px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:700px;
}
#u6 {
  position:absolute;
  left:2px;
  top:342px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:256px;
  top:257px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:54px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:54px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  white-space:nowrap;
}
#u8_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:17px;
  top:0px;
  width:750px;
  height:70px;
  font-size:52px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:70px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:70px;
  width:648px;
  height:54px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:54px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  white-space:nowrap;
}
#u8_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:174px;
  top:0px;
  width:261px;
  height:54px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:54px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:95px;
  top:70px;
  width:417px;
  height:54px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:52px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:54px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:700px;
  width:1053px;
  height:480px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:480px;
}
#u20 {
  position:absolute;
  left:2px;
  top:232px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:9px;
  top:819px;
  width:1026px;
  height:84px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:84px;
}
#u22 {
  position:absolute;
  left:2px;
  top:34px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:497px;
  top:771px;
  width:65px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:388px;
  top:936px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:398px;
  top:992px;
  width:41px;
  height:21px;
  font-size:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:1179px;
  width:1053px;
  height:351px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:351px;
}
#u30 {
  position:absolute;
  left:2px;
  top:168px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:2361px;
  width:1053px;
  height:610px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:610px;
}
#u32 {
  position:absolute;
  left:2px;
  top:297px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:473px;
  top:2398px;
  width:158px;
  height:64px;
  font-family:'AdobeSongStd-Light', 'Adobe Song Std L', 'Adobe Song Std';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:64px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:518px;
  top:2472px;
  width:65px;
  height:33px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:52px;
  top:2537px;
  width:981px;
  height:74px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:74px;
}
#u38 {
  position:absolute;
  left:2px;
  top:29px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:54px;
  top:2692px;
  width:961px;
  height:190px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:190px;
}
#u40 {
  position:absolute;
  left:2px;
  top:87px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:467px;
  top:933px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:467px;
  top:990px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:405px;
  top:1063px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:535px;
  top:1063px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:1530px;
  width:1053px;
  height:480px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:480px;
}
#u48 {
  position:absolute;
  left:2px;
  top:232px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:2010px;
  width:1053px;
  height:351px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:351px;
}
#u50 {
  position:absolute;
  left:2px;
  top:168px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:9px;
  top:1596px;
  width:1026px;
  height:84px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:84px;
}
#u52 {
  position:absolute;
  left:2px;
  top:34px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:480px;
  top:1566px;
  width:97px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:382px;
  top:1693px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:392px;
  top:1749px;
  width:41px;
  height:21px;
  font-size:20px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:462px;
  top:1690px;
  width:200px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:462px;
  top:1747px;
  width:200px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:437px;
  top:1920px;
  width:180px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:382px;
  top:1851px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:462px;
  top:1848px;
  width:200px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:392px;
  top:1798px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:462px;
  top:1796px;
  width:200px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:332px;
  top:2926px;
  width:446px;
  height:28px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:487px;
  top:2624px;
  width:129px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:70px;
  top:2710px;
  width:190px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:320px;
  top:2710px;
  width:180px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:566px;
  top:2710px;
  width:164px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:800px;
  top:2710px;
  width:180px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
