body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1040px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:1060px;
  height:2349px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:2349px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1166px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:108px;
  top:9px;
  width:161px;
  height:22px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:910px;
  top:14px;
  width:38px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:99px;
  width:850px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:833px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:850px;
  height:3px;
}
#u7 {
  position:absolute;
  left:100px;
  top:145px;
  width:850px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:833px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:850px;
  height:1px;
}
#u8 {
  position:absolute;
  left:534px;
  top:119px;
  width:13px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:99px;
  top:161px;
  width:851px;
  height:549px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:549px;
}
#u11 {
  position:absolute;
  left:2px;
  top:266px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:388px;
  top:620px;
  width:272px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:99px;
  top:720px;
  width:609px;
  height:472px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:472px;
}
#u14 {
  position:absolute;
  left:2px;
  top:228px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:718px;
  top:718px;
  width:231px;
  height:474px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:474px;
}
#u16 {
  position:absolute;
  left:2px;
  top:229px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:99px;
  top:1203px;
  width:187px;
  height:187px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u18 {
  position:absolute;
  left:2px;
  top:86px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:99px;
  top:1420px;
  width:187px;
  height:187px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u20 {
  position:absolute;
  left:2px;
  top:86px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:305px;
  top:1203px;
  width:197px;
  height:404px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:404px;
}
#u22 {
  position:absolute;
  left:2px;
  top:194px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:514px;
  top:1203px;
  width:433px;
  height:404px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:404px;
}
#u24 {
  position:absolute;
  left:2px;
  top:194px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:99px;
  top:1617px;
  width:383px;
  height:383px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:383px;
}
#u26 {
  position:absolute;
  left:2px;
  top:184px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:508px;
  top:1611px;
  width:183px;
  height:183px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:183px;
}
#u28 {
  position:absolute;
  left:2px;
  top:84px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:492px;
  top:1790px;
  width:217px;
  height:210px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:210px;
}
#u30 {
  position:absolute;
  left:2px;
  top:97px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:719px;
  top:1617px;
  width:226px;
  height:383px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:383px;
}
#u32 {
  position:absolute;
  left:2px;
  top:184px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:99px;
  top:720px;
  width:846px;
  height:1280px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:710px;
  top:62px;
  width:240px;
  height:27px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:715px;
  top:63px;
  width:230px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  position:absolute;
  left:923px;
  top:64px;
  width:22px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:299px;
  top:2297px;
  width:446px;
  height:28px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:99px;
  top:2100px;
  width:850px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:833px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:850px;
  height:3px;
}
#u42 {
  position:absolute;
  left:99px;
  top:2069px;
  width:141px;
  height:40px;
  font-size:28px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:99px;
  top:2130px;
  width:850px;
  height:107px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:107px;
}
#u45 {
  position:absolute;
  left:2px;
  top:46px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:90px;
  top:2119px;
  width:110px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:280px;
  top:2119px;
  width:110px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:469px;
  top:2119px;
  width:110px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:654px;
  top:2119px;
  width:126px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:850px;
  top:2119px;
  width:110px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:120px;
  top:115px;
  width:83px;
  height:21px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:248px;
  top:115px;
  width:83px;
  height:28px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:535px;
  top:115px;
  width:83px;
  height:28px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:388px;
  top:115px;
  width:83px;
  height:28px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:681px;
  top:115px;
  width:83px;
  height:28px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:821px;
  top:115px;
  width:104px;
  height:28px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:110px;
  top:115px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:240px;
  top:115px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:380px;
  top:115px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:524px;
  top:113px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:669px;
  top:115px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:821px;
  top:115px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:395px;
  top:-7px;
  width:214px;
  height:110px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:110px;
}
#u70 {
  position:absolute;
  left:2px;
  top:47px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:907px;
  top:4px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:920px;
  top:64px;
  width:30px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
